
  header{
        width: 100%;
        height: 69px;
        position: fixed;
        z-index: 1;
        background-color: black;
        border-bottom: 1px solid seashell;
        align-items: center;
  }

  header img {
    height: 50px;
    padding-left: 10px;
}

nav{

  text-align: right;
  flex-grow: 1;
  margin:  10px;
}

  nav span{
    display: inline-block;
    padding: 20px 10px;
    text-decoration:  underline;
  }

  body{
    background-color: black;
    font-size: 22px;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
    }

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-container{
padding-top: 69px;
opacity: 0.9;
width: 1200px;
margin: auto;
}

h2, h3, h4 {
      margin: 0;
      padding: 10px;
      align-text: center;
  }

#mission .image-text{
    text-align: center;
    background-color: black;
    width: 1200px;
    margin: auto;
}

#mission{
  background-image: url("../css/images/background.jpg");
  height: 700px;
  margin: 0 auto;
  }

#tea{
    width: 1000px;
    padding-top: 70px;
    text-align: center;
    margin: auto;
    }

.items img {
        height: 200px;
        margin: 10px;
        display: block;
    }
    .items span{
      padding-top: 10px;
    }

#tea .items{
  padding: 5px;
}

#locations{
  background-image: url("../css/images/locations.jpg");
  height: 500px;
  width: 100%;
}

#locations .flex-container{
  margin: auto;
  width: 100%;
}

.location {
    opacity: 1.0;
    padding: 10px;
    margin: auto;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

#contact{
text-align: center;
  height: 200px;
}

footer{
text-align: left;
padding-left: 20px;
}












}
